# CF-Extensions

**Organization**: [{{.Org}}](https://github.com/{{.Org}}) has {{.Infos | length}} incubating projects

{{- range .Infos }}

## [{{.Name}}](https://github.com/{{.GitUrl}})
**Status**: {{ .Status }} (changed on {{ .ChangedDate | parseAsDate }})

**Owner**: {{ .OwnerCompany }}, {{ .ContactEmail }}

**Proposed Date**: {{ .ProposedDate | parseAsDate }}

### Description
{{ .Description }}

### Links
**Git URL**: [{{ .GitUrl }}]({{ .GitUrl }})

{{if .TrackerUrl -}}

**Tracker URL**: [{{ .TrackerUrl }}]({{ .TrackerUrl }})

{{- end}}

---
{{- end}}

Last updated on {{ currentTime | formatAsDateTime }}.