# CF-Extensions

**Organization**: [{{.Org}}](https://github.com/{{.Org}}) has {{.Infos | Length}} incubating projects

{{- range .Infos }}

## [{{.Name}}](https://github.com/{{.Org}}/{{.Name}})

**Stats**: Watchers ({{.Stats.WatchersCount}}) | Stars ({{.Stats.StargazersCount}}) | Forks ({{.Stats.ForksCount}}) | Open issues ({{.Stats.OpenIssuesCount}})

**Status**: *{{ .Status.Status }}* (changed on {{ .ChangedDate | ParseAsDate }})

**Lead**: {{ .LeadCompany }}, {{ .ContactEmail }}

**Proposed Date**: {{ .ProposedDate | ParseAsDate }}

### Description
{{ .Description }}

### Links

**Proposal URL**: [{{ .ProposalUrl }}]({{ .ProposalUrl }})

**Git URL**: [{{ .GitUrl }}]({{ .GitUrl }})

{{if .TrackerUrl -}}

**Tracker URL**: [{{ .TrackerUrl }}]({{ .TrackerUrl }})

{{- end}}

{{if .LatestRepoRelease -}}

**Latest Release**: [{{ .LatestRepoRelease.TagName }}]({{ .LatestRepoRelease.TarballURL }})

{{else}}

**Latest Release**: _No release yet_

{{- end}}

---
{{- end}}

Last updated on {{ CurrentTime | FormatAsDateTime }}.