Add {{.Filename}} file to your repo so that it shows correctly in the [CF-Extensions](https://github.com/cloudfoundry-incubator/cf-extensions) hub and [catalog](https://cloudfoundry-incubator.github.io/cf-extensions/).

{{.InfoJson}}

This is a JSON formatted file. The default values in the file are for you to get started. You should edit to match your project's data.

For example, the field {{.TrackerUrl}} should contain your project's tracker URL, and so on.

*FINAL NOTES*

You may also add two more optional fields: {{.LogoUrl}} and {{.IconUrl}} pointing to images for your logo and icon respectively.

For best results your images should be in JPG or PNG file formats and their sizes around 200x300 pixels for logo and 32x32 pixels for icon.